

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5em;
    font-size: 1.15em;
    background-color: #7886C7;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

main{
    padding: 1em;
    background-color: #FFF2F2;
    border-radius: 5px;
}